{% extends "@FOSUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

    <div class="row text-center" style="margin-top: 100px">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <form action="{{ path("fos_user_security_check") }}" method="post">
                {% if csrf_token %}
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                {% endif %}
              <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input type="text" id="username" class="form-control" name="_username" value="{{ last_username }}" required="required" />
              </div>
              <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input type="password" id="password" class="form-control" name="_password" required="required" />
              </div>
              <input class="btn btn-default" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            </form>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <h3>Vous n'avez pas de compte ?</h3>
            <a href="{{ path('fos_user_registration_register') }}"><h4>S'inscrire</h4></a>
            </div>
    </div>
{% endblock fos_user_content %}
