{% extends 'base.html.twig' %}

{% block body %}
<div class="row">
<div class="col-md-4"></div>
<div class="col-md-4">
    <div style="margin-top : 100px" class="text-center">
    <h2>{{produit.title}}</h2>
    <img src="{{produit.img}}" class="img_product">
    <h2>{{produit.price}} €</h2>

    <p>{{produit.content}}</p>

<p><a href="{{path('ajouter', {'id' : produit.id })}}" class="btn btn-primary" role="button">Ajouter au panier</a> {{produit.price}} €</p></span>Panier</a>
</div>
    </div>
    </div>
{% endblock %}